<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-orange fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="assets/logo2.png" alt="ING Banking" width="20%" height="40%"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" *ngIf="showMenus">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="navbar-brand">Welcome <strong>{{userName }}</strong> !!</a>
        </li>
        <li class="nav-item" (click)=logout();>
          <a class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>